# ── Shasta ───────────────────────────────────────────────────────────────────
# Required when running with --shasta

SHASTA_RPC=https://ethereum-hoodi-rpc.publicnode.com
SHASTA_BEACON_RPC=https://ethereum-hoodi-beacon-api.publicnode.com/
SHASTA_INBOX_ADDRESS=0xeF4bB7A442Bd68150A3aa61A6a097B86b91700BF
SHASTA_START_BLOCK=3021518
SHASTA_END_BLOCK=3021518

# ── Pacaya ───────────────────────────────────────────────────────────────────
# Required when running with --pacaya

PACAYA_RPC=https://ethereum-rpc.publicnode.com
PACAYA_INBOX_ADDRESS=0x06a9Ab27c7e2255df1815E6CC0168d7755Feb19a
PACAYA_BATCH_PROPOSED_TOPIC=0x9eb7fc80523943f28950bbb71ed6d584effe3e1e02ca4ddc8c86e5ee1558c096
PACAYA_TARGET_COINBASE=0xCbeB5d484b54498d3893A0c3Eb790331962e9e9d
PACAYA_START_BLOCK=23139968
PACAYA_END_BLOCK=23946792
PACAYA_INITIAL_BATCH_ID=1321330

# Optional — defaults shown
PACAYA_BLOCK_STEP=300
PACAYA_RETRY_DELAY_SECS=10
PACAYA_POLL_DELAY_SECS=1